<div class="container mt-5">

    <section>
        <h1>Home</h1>

        <div class="row">
            <button class="col-md-3 btn btn-default">Perform Sell</button>
            <button class="col-md-3 btn btn-default">Operate Cash</button>
        </div>

    </section>

    <section>
        <h1>Registers</h1>

        <div class="row">
            <button class="col-md-3 btn btn-default">Client</button>
            <button class="col-md-3 btn btn-default">Clothes</button>
            <button class="col-md-3 btn btn-default">Employee</button>
        </div>
    </section>
</div>