  <app-header></app-header>
  <div class="container">

  <section>
    <h2>Home</h2>

    <div class="row">
      <button 
        *ngIf="session.title === 'Seller'"
        [routerLink]="['/shopping-cart']" 
        class="col-md-3 btn btn-primary"
      >
        Perform Sell
      </button>

      <button 
        *ngIf="session.title === 'Cashier'"
        [routerLink]="['/cashier']" 
        class="col-md-3 btn btn-primary"
      >
        Operate Cash
      </button>
    </div>

    <div class="row">
      <button 
        *ngIf="session.title === 'Customer Service'"
        [routerLink]="['/client']" 
        class="col-md-3 btn btn-primary"
      >
        Client
      </button>

      <button   
        *ngIf="session.title === 'Warehouse'"
        [routerLink]="['/clothes']" 
        class="col-md-3 btn btn-primary"
      >
        Clothes
      </button>

      <button 
        *ngIf="session.title === 'Human Resource'"
        [routerLink]="['/employee']" 
        class="col-md-3 btn btn-primary"
      >
        Employee
      </button>
    </div>
  </section>

</div>
