.navbar {
  padding: 3em;

  .navbar-brand {
    font-size: 24pt;
  }

  .nav-item {
    margin-left: 2em;
  }
}

.jumbotron {
  padding-top: 13em;
  padding-bottom: 13em;
}

#card-group {
  display: flex;
  justify-content: center start;
  flex-wrap: wrap;
  align-content: center;
  //   width: 50vw;

  .card {
    width: 15em;
    margin: 2em;
  }
}

.footer {
  background-color: lightgrey;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img-top {
  height: 10em;
}
