<section>
    <div>
        <app-pie 
            *ngIf='clothesAvailability'
            [labels]='clothesAvailability.labels'
            [values]='clothesAvailability.values'></app-pie>
    </div>
    <div class="row" id="rankings">
        <div class="col-md-6">
            <span>Client Ranking</span>
            <div class="client-ranking">
                <div class="ranked client__firstly">
                    Client 1: <span class="value">21</span>
                </div>
                <div class="ranked client__second">
                    Client 2: <span class="value">18</span>
                </div>
                <div class="ranked client__thirty">
                    Client 3: <span class="value">15</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <span>Shopping Cart Ranking</span>
            <div class="shopping-cart-ranking">
                <div class="ranked shopping-cart__firstly">
                    Shopping Cart 1: <span class="value">21</span>
                </div>
                <div class="ranked shopping-cart__second">
                    Shopping Cart 2: <span class="value">18</span>
                </div>
                <div class="ranked shopping-cart__thirty">
                    Shopping Cart 3: <span class="value">15</span>
                </div>
            </div>

        </div>
    </div>
    <div>
        <app-bars></app-bars>
    </div>
</section>