<section>
    <form>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="seller" class="col-form-label">Seller</label>
                <input type="text" class="form-control" id="seller" placeholder="Fulano Beltano Cicrano">
            </div>
            <div class="form-group col-md-6">
                <label for="client" class="col-form-label">Client</label>
                <input type="text" class="form-control" id="client" placeholder="Fulano Beltano Cicrano">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="status" class="col-form-label">Status</label>
                <select name="status" class="form-control dropdown-selection" style="padding: 1em 0;">
                    <option value="">Select status</option>
                </select>
            </div>
        </div>
        <div>
            <app-sales-form-clothes-list></app-sales-form-clothes-list>
        </div>
    </form>
</section>