<!--Large modal-->
<button class="btn btn-default btn-block" (click)="showModal()">List</button>

<div
  bsModal
  #lgModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Large modal
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <h2>Cothes list</h2>

          <table *ngIf="shoppingCartClothesList" class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Photo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let clothes of shoppingCartClothesList">
                <th scope="row">123</th>
                <td>{{ clothes.name }}</td>
                <td>{{ clothes.price }}</td>
                <td>
                  <a
                    target="_blank"
                    class="btn btn-default btn-block"
                    href="{{ clothes.photo }}"
                    >Photo</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>
  </div>
</div>
