<!--Large modal-->
<button class="btn btn-success btn-block" (click)="showModal()">Handle</button>

<div
  bsModal
  #lgModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-sizes-name1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">
          Large modal
        </h4>
        <button
          type="button"
          class="close pull-right"
          (click)="lgModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">

        <div>
          <form [formGroup]='formGroup' class="mt-5" action="">
            <div class="form-group">
              <div class="row">
                <div class="col-md-10">
                  <input 
                    formControlName='searchInput'
                    value='{{ searchInputValue }}' 
                    type="number" 
                    class="form-control" 
                    placeholder="Type clothes ID">
                </div>
                <div class="col-md-2">
                  <button 
                    (click)='addClothesButtonClicked()' 
                    class='btn btn-primary btn-block'>Add
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="mt-5">
          <h2>Cothes list</h2>

          <table *ngIf="shoppingCart.clothes" class="table">
            <thead class="thead-dark">
              <tr style="align-items: center;">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Photo</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let clothes of shoppingCart.clothes">
                <th scope="row">{{ clothes.id }}</th>
                <td>{{ clothes.name }}</td>
                <td>{{ clothes.price }}</td>
                <td>
                  <a
                    target="_blank"
                    class="btn btn-primary btn-block"
                    href="{{ fixClothesPhotoAddress(clothes) }}">Photo
                    </a>
                </td>
                <td>
                  <div>
                    <button 
                      (click)='removeClothesButtonClicked(clothes)' 
                      class="btn btn-danger btn-block"
                    >
                      Remove
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <section class="mt-5" style="display: flex; justify-content: space-between;">
          <div style="align-items: flex-end;">
            <span style='font-size: 20pt; font-weight: 700;'>Total: R$ {{ totalCost }}</span>
          </div>
        </section>

      </div>
    </div>
  </div>
</div>
