<h2>Clothes</h2>
<form action="">
    <div class="input-group">
        <input type="text" id="sales-form-clothes-list--clothes-name" class="form-control"
            placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-default" type="button">Search</button>
            <button class="btn btn-default" type="button">Add</button>
        </div>
    </div>
</form>

<section><br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">CPF</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Status</th>
                <th scope="col">Photo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Fulano Circeano</td>
                <td>Rua blabla, 43, Blabla - Blabla / BLA</td>
                <td>000.000.000-00</td>
                <td>12/12/1212</td>
                <td>ACTIVE</td>
                <td>clientPhoto.png</td>
            </tr>
        </tbody>
    </table>
    <div id="clothes-list--total">
        <span>R$ 12,00</span>
    </div>
</section>