<section>
  <h2>Employee list</h2>

  <!-- <div class="form-group">
    <div style="display: flex">
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        (keyup)="debounce.next($event.target.value)"
        [value]="value"
      />
      <button class="btn btn-default">search</button>
    </div>
  </div> -->
  <table class="table table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">E-mail</th>
        <th scope="col">Title</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeeList | async">
        <th scope="row">{{ employee.id }}</th>
        <td>{{ employee.name }}</td>
        <td>{{ parseIsoToLocale(employee.birthdate) }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.title?.name || "" }}</td>
        <td>{{ employee.status?.name || "" }}</td>

        <td>
          <button
            (click)="updateButtonClicked(employee)"
            class="btn btn-primary btn-block">Update
          </button>
          
          <button
            [disabled]="employee.status.name === 'DEACTIVATED'"
            (click)="removeButtonClicked(employee)"
            class="btn btn-danger btn-block">Deactivate
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav> -->
</section>
