.form-control.dropdown-selection {
  height: 2vh !important;
}

section {
  margin: 3em 0;
  padding: 1em;
  background-color: #eeeeee;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
