<div class="container mt-5">
    <section>
        <h2>Employee Form</h2>
        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Fulano e Sicrano">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticEmail" placeholder="asdf@example.com">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="******">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Employee Title</label>
                <div class="col-sm-10">
                    <button class="btn btn-secondary dropdown-toggle" type="button">Select employee title</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10">
                    <button class="btn btn-secondary dropdown-toggle" type="button">Select employee status</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Photo</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="photo">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">HR Employee id</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="hrEmployeeId" placeholder="******">
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Send</button>
            </div>
        </form>
    </section>

    <section>
        <h2>Employee list</h2>

        <div class="form-group">
            <div style="display: flex;">
                <input type="text" class="form-control" placeholder="Search...">
                <button class="btn btn-default">search</button>
            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Registered by</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>asdf@mdo.com</td>
                    <td>Warehouse</td>
                    <td>ACTIVATED</td>
                    <td>Gabu</td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </section>
</div>